.gridContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridTitle{

}


#mainGrid{
    background-color: gray;
    height: 860px;
    width: 860px;
    border-color: black;

    display: flex;
    flex-direction: column;
}

.row{
    display: flex;

    flex: 1;
    border-color: black;
}

.column{
    flex: 1;
    border-color: black;
    border-style: solid;
}