body {
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 0 100px;
}

.container1,
.container3{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 750px;
    width: 300px;
    margin: 0 40px 0 40px;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 750px;
    height: 750px;
}

.brush,
.paint,
.container2,
.grid,
.info {
    background-color: #272626;
    flex: 1;
}



.smallTitle{
    font-family: "Nunito", sans-serif;
    color: beige;
}


#mainGrid {
    background-color: gray;
    height: 700px;
    width: 700px;
    border-color: black;

    display: flex;
    flex-direction: column;
}


.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    border-color: black;
    border-style: solid;
}